*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f6f9;
  padding: 0px;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b2265;
    padding: 15px 30px;
    color: #ffffff;
}

.main-nav__menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-nav__menu a {
    color: #bfcdfa;
    text-decoration: none;
}

.journal-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
}

